body {
  font-family: Arial;
  margin: 0;
}

* {
  box-sizing: border-box;
}

img {
  vertical-align: middle;
}
/* Position the image container (needed to position the left and right arrows) */
.imageContainer {
  position: relative;
  margin: 100px 18% 0 18%;
  height:640px;
  overflow: hidden;
}

/* Hide the images by default */
.slide {
  display: none;
  height:400px;
  overflow: hidden;
}
.slide img {
  transition: 0.2s;
  opacity:0.9;
}
.slide:hover img{
  transform: scale(1.01);
  opacity: 1;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
  opacity: 0.5;

}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 1;
  transition: 0.2s;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: rgb(209, 225, 241);
  padding: 2px 16px;
  color: white;
  opacity: 0.8;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six miniSlides side by side */
.miniSlide {
  float: left;
  width: 14.28%;
  height:90px;
  overflow: hidden;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
  height:100%;
}

.active,
.demo:hover {
  opacity: 1;
}
