/*--------------------------------------------style.css---------------------------------------------------*/
/*                                  Created By: Logan Daugherty                                           */
/*                                                                                                        */
/*                                            Features                                                    */
/*                                                                                                        */
/*                                      Sections: Text Blocks                                             */
/*                                          Text: text                                                    */
/*                              Aligment: Way things are oriented                                         */
/*                             SlideShow:  Stylization for SlideShow                                      */
/*                          Animation: Smooth Transitions and Introductions                               */
/*                      Screen Compatibility: Adjusting for various screen ratios                         */
/*                                                                                                        */
/*--------------------------------------------------------------------------------------------------------*/



/*--------------------------------------------SECTIONS----------------------------------------------------*/
/*Main Page*/

 ::selection {
   background: #ffdb00;;
   color: rgb(0, 9, 47);
}

img::selection {
  background: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  background-color: rgb(255, 255, 255);
  z-index: 100;
}
/*Side text Table*/
table{
  padding: 0px;
  width:100%;
}
/*Side Text Cell*/
th{
  padding-left:80px;
  padding-right:80px;
}
/*----------Navigation Bar----------*/
#navbar {
  overflow: hidden;
  background-color: rgb(0, 13, 88);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  transition: 0.2s;
  height:50px;
  box-shadow: 10px,10px,50px,grey;
    opacity: 0.95;
}
.navbar {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  transition: 1s;
    text-align: center;
    padding:10px;
  font-size: 20px;
}
.navbar img {
  width:30px;
  float:left;
}
/*-----Navigation Bar Link-----*/
.navbar a {
  font-size: 20px;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  transition:0.3s;
  font-family: monospace;
  font-weight:normal;
  line-height:30px;
}
/*Navigation Bar Hover Color*/
.navbar a:hover {
  color:rgb(231, 186, 65);
  font-weight: 500;
  text-shadow:  10px 10px rgb(0, 5, 39);
  text-decoration: none;
}

/*--------------------Top Section--------------------*/
.homeTop {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
#homeTop{
  height: 100vh;
  position:relative;
}
/*-----Top Section For Every Page But Home-----*/
.normTop {
  position: relative;
  width: 95%;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-top:50px;
  margin-left: auto;
  margin-right: auto;
  padding:auto;
}
.normTop .topTag h1 {
  margin-top: -50px;
}
/*Background Video*/
.video-container {
  position: absolute;
  width: 100%;
  min-width: 1500px;
}


/*-----Youtube Video-----*/
iframe{
width:533px;
height:311px;
}

/*-----Title At Top-----*/
.topTag {
  max-width: 1700px;
  height: 100%;
  padding-top: 0px;
  text-align: center;
  padding: 97px;
  z-index: 1;
}
/*Centered Text*/
.mainText {
  width: 60%;
  text-align: center;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  position: relative;
}

/**/
.infoBlock {
  width:100%;
  padding:50px;
  background-color: rgb(241, 248, 255);
}
.infoBlockLarge {
  width:100%;
  padding:30px 20% 30px 20%;
  background-color: rgb(241, 248, 255);
}

/*Quick Facts*/
.infoRow {
  background-color: rgb(241, 248, 255);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  min-width: 0px;
  width:100%;
  min-width:0px
}
/*Quick Facts Cell*/
.inforRow2 {
 min-width: 0px;
 padding-top:50px;
 width:33%;
}
/*Side Text*/
.sideText {
  background-color: rgb(241, 248, 255);
 padding:60px;
 padding-left:20%;
 padding-right:20%;
 padding-bottom: 100px;
 max-width: 50%;
}
.sideTextImage{
  background-position: fixed;
  background-position-x: 55%;
  background-size: cover;
  /* background-image: url("../Images/About-Us/aboutUsThumbnail.jpg"); */
  z-index:999;
}

.fiveColumns {
  margin-bottom:50px;
  width:80%;
}

/*----------Footer----------*/
.footer {
  background-color:rgb(0, 13, 88);
  padding-top:10px;
  padding-left:auto;
  padding-right:auto;
  position: absolute;
  width:100%;
  overflow: hidden;
}
/*-----Footer Tile-----*/
.footerTile {
  width:33%;
}
.footerTile p {
  color:white;
  font-family: monospace;
}
.footerTile img {
  width:40px;
}

/*----------------------------------------------Media Image-----------------------------------------------*/

.mediaContainer{
  height:300px;
  width:300px;
  overflow: hidden;
  margin: 50px;
}
.mediaImage{
  height:300px;
  float:middle;

}

/*----------------------------------------------TEXT-------------------------------------------------------*/
/*Normal Text*/
p, li, h1,h2,h3,h4,h5,dd,dt {
  /* font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Apple Legacy Chevron","Helvetica Neue","Helvetica","Arial",sans-serif; */
font-family: boschsans,"Helvetica Neue",Helvetica,Arial,sans-serif;
    /* font-family: Montserrat, Arial, sans-serif; */
}
p, li{
  color: rgb(50, 50, 50);
  font-weight:100;
  text-align:left;
  font-size: 18px;
  line-height: 27px;
  text-align: justify;
  }

u{
  color:goldenrod;
  text-decoration:none;
  font-weight:bold;
}

  /*Title*/
  h1{
    font-size: 100px;
    color:white;
  }

  .element {
    animation: backgrounds 4s infinite;
  }
  @keyframes backgrounds {
    0% {
      color: rgb(250, 197, 62);
    }
    50% {
      color: goldenrod;
    }
    100% {
      color: rgb(250, 197, 62);
    }
  }

  /*Section Header --------------- original rgb(255, 194, 38)*/
  h2{
    color: rgb(0, 0, 158);
    font-weight: 900;
    font-size: 40px;
  }
  /*Top Spacing*/
  h3{font-size: 14px;}

  h6{
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Apple Legacy Chevron","Helvetica Neue","Helvetica","Arial",sans-serif;

    color:rgb(255, 194, 38);
    font-weight: 900;
    font-size: 40px;
    -webkit-text-stroke-color: rgb(170, 170, 0);
    padding:0;
    margin-top:0;
    margin-bottom:0;
  }
  /*Text Devider*/
  hr {
    height:1px;
    border-width:0;
    background-color:rgb(192, 204, 255);
    margin-bottom:20px;
  }
  /*Info Row Text*/
  .counter{
    font-size: 80px;
    margin-top: 50px;
    margin-bottom: -50px;
    color:rgb(255, 219, 14);
    -webkit-text-stroke-color: rgb(170, 170, 0);
    color:rgb(255, 194, 38);
  }
  .counterText{
    font-size: 70px;
    margin-top: 100px;
    color:rgb(255, 219, 14);
    -webkit-text-stroke-color: rgb(170, 170, 0);
  }
  /*Sponsorship Image Aligment*/
  .sponsorImage{
    vertical-align: middle;
    padding: 30px;
    transition: 0.25s;
    opacity: 80%;
  }
  .sponsorImage:hover {
    opacity: 100%;
    transform: scale(1.03);
  }

  /*Person Image Aligment*/
  .personImage{
    vertical-align: middle;
    padding: 30px;
    transition: 0.25s;
    opacity:inherit;
  }

  #piechart {

    width:250px;
    zoom:2.5;
    margin-bottom:-50px
  }

/*------------------------------------------------ALIGNMENT------------------------------------------------*/
/*Center*/
  .center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
/*Right align*/
  .right {
    text-align: right;
      margin-left: auto;
      margin-right: 0px;
  }
/*Link to a Website*/
  .link{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  p a, .text a {
    transition:0.2s;
  }
  p a:visited {
    color:rgb(90, 130, 255);
  }
  .text a:visited {
    color: rgb(101, 103, 255);
  }
  p a:hover, .text a:hover {
    color: goldenrod;
  }

/*Link without hover*/
  a {
    text-decoration: none;
  }
/*Hover Temperature*/
  a:hover {
    text-decoration-color: white;
  }

/*------------------------------------------------SLIDESHOW-------------------------------------------------*/
.homeSlides img:hover{
    transform: scale(1.05);
}
.homeSlides img{
    transition: 0.5s;
}

.mySlides {
  display: none;
  transition: 1s;
  display: block;
}

.mySlides img {
  width: 100%;
}
/* Slideshow container */
.slideshow-container {
  width: 70%;
  position: relative;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    margin-top: 50px;
    box-shadow: 10px,10px,50px,grey;
    transition: 0.5s;
    max-height:510px;
}
.slideshow-container:hover {
    box-shadow: 10px,10px,50px,grey;
}
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;


}
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev, .next {
  background-color: rgba(0,0,0,0.8);
}
/* Caption text rgb(175, 216, 255)*/
.text {
  color: navy;
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  background-color: rgb(209, 225, 241);
  opacity: 80%;
}
.communityText {
  font-size: 15px;
}
/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  z-index: 0;
  top:0;
}
/*Slideshow Dot*/
.active, .dot:hover {
  background-color: #717171;
}

.smallTitle {
  font-size: 25px; margin-top: 200px;
}
.largeTitle {
  margin-top: -20px;text-align:left; margin-bottom:100px
}


/*-----------------------------------------------ANIMATION-------------------------------------------------*/

/*SlideIn*/
  .slideIn {
    position: relative;
    animation-name: example;
    animation-duration: 1.5s;
  }
  @keyframes example {
    0%   {left:0px; top:50px;opacity:0%;rotate:0deg;}
    100%  {left:0px; top:0px;opacity:100%;rotate:0deg;}
  }

/* Fading animation */
.fade,.start {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
/*Fade Animation*/
@-webkit-keyframes fade {
  from {opacity: .5}
  to {opacity: 1}
}
/*Fade Animation*/
@keyframes fade {
  from {opacity: .5}
  to {opacity: 1}
}


/*------------------------------------------SCREEN COMPATIBILITY------------------------------------------*/

@media only screen and (max-width: 950px) {
  .footerTile img{  width: 30px;}
  .footerTile img[src="Vex Logo Crown PNG.png"]{  width: 0%;padding-left:0px;padding-right:0px;}
  th{ padding-left:0px;padding-right:0px; }
  .infoRow th{ padding-left:3%;padding-right:2%; padding-top:40px; }
  p[style="color:white;"]{font-size: 12px}
}
@media only screen and (max-width: 900px) {
  .sideTextImage {  width: 0%;
    padding: 0px;}
}
@media only screen and (max-width: 800px) {
  .mainText {  width:90%}
  img[src="https://images.ctfassets.net/oggad6svuzkv/4JSezOuLv9CCXfHEBpfGxp/528d1ca0496e3401cd60467235b6441f/P_G_Logo_RGB.png"] {
    height:100px;
  }
  img[src="https://www.ibtinc.com/wp-content/uploads/2019/06/YASKAWA-logo-blue.png"] {
    height:30px;
  }
  .container{ width:100%;}
  .text{font-size: 15px;}
  h1{font-size: 70px;}
}
@media only screen and (max-width: 600px) {
  .mainText[iframe] { min-width:0; width:0;margin-left: 0; margin-right: 0;padding-left: 0; padding-right: 0;}
  iframe{ width:75%; margin-left: 0; margin-right: 0;padding-left: 0; padding-right: 0;}
  .normTop .video-container{zoom:70%;}
  h1{font-size: 60px;}
}

/*--------------------------------------------------TESTING------------------------------------------------*/
#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  opacity: 0.5;
  z-index: 2;
  cursor: pointer;
}

#text{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
}

.header {
  text-align: center;
  padding: 32px;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column2 {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
  text-align: justify;
  max-width:20%;
}
.column4 {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
  text-align: justify;
  max-width:25%;
}
.column4 img {
width:150px;
margin-top:50px;
margin-bottom:43px;
margin-left:100px;
}
.column2 img {
width:150px;
margin-top:50px;
margin-bottom:43px;
margin-left:50px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
    box-shadow: 2px 2px 2px #aaaaaa;
    transition: 0.2s;
}

.column img:hover  {
  box-shadow: 5px 5px 10px #aaaaaa;
  width:102%;
}
.coolImage {
  transition: 0.5s;
}
.coolImage:hover {
    box-shadow: 5px 5px 5px #EEEEEE ;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 1219px) {
  #navbar {
      height:80px;
  }
}
@media screen and (max-width:684px){
  #navbar {
    height:110px;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}


.containerImage {
  position: relative;

}
.overlayText {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 102%;
  transition: .1s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}
.overlayDate {
  font-size:15px;
}
.containerImage:hover .overlayText {
  opacity: 1;
}

dt {
  text-align: center;
}

dd {
  text-align: center;
  color: rgb(100, 100, 100);
  font-weight:100;
  font-size: 17px;
  line-height: 27px;
}

.resourcesTiles {
  width:100%;
  border:solid;
  border-color:rgb(200, 200, 200);
  border-width:2px;
  margin:0;
  box-shadow: 10px,10px,50px,grey;
}
